/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;@200;400;600&display=swap");


/* Variables */
:root {
  --fontFamily: "Poppins", sans-serif;

  --fontSize: 15px;

  --veryLightGray: hsl(0, 0%, 98%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryDarkBlue: hsl(234, 12%, 34%);
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
}


/* Reset margin and padding for the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main {
  background: var(--verLightGray);
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--grayishBlue);

  margin-bottom: 50px;
  text-align: center;
  width: 50%;
}


header .title-thin {
  font-weight: 100;
}


header .title-bold {
  font-weight: 600;
  color: var(--veryDarkBlue);

  margin-bottom: 30px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: space-around;
  grid-gap: 30px;

  max-width: 90%;
}


.card {
  display: flex;
  flex-direction: column;

  padding: 30px;
  line-height: 1.7;

  box-shadow: var(--grayishBlue) 0px 20px 25px -5px,
    var(--grayishBlue) 0px 10px 10px -5px;
  border-radius: 10px;
}


.card-title {
  color: var(--veryDarkBlue);
}


.card p {
  color: var(--grayishBlue);
}


.card img {
  align-self: flex-end;
  margin-top: 30px;
}


/* Card layout */
.card-1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;

  border-top: 5px solid var(--Cyan);
}


.card-2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;

  border-top: 5px solid var(--Red);
}


.card-3 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;

  border-top: 5px solid var(--Orange);
}


.card-4 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;

  border-top: 5px solid var(--Blue);
}


/* Viewing on screens larger than 1200, then content is fixed size. */
@media (min-width: 1200px) {
    .main {
        max-width: 1200px;
        margin: 40px auto;
    }
}


/* Below 600px, then content is moved to column format. */
/* Below changes needed for mobile viewing. */
@media (max-width: 600px) {
  .main {
    justify-content: flex-start;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .card-1 {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
  }

  .card-2 {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
  }

  .card-3 {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
  }

  .card-4 {
    grid-column: 1 / -1;
    grid-row: 4 / span 1;
  }
}
